:root{
    --primary-color:#24f8c7;
    --secondary-color:#fff;
    --text-color: #000000;
}

.map-location{
    width: 80%;
   margin: auto;
   padding: 80px 0;
}
.map-location iframe{
    width: 100%;
    height: 500px;
}

@media (min-width: 768px){
    .location{
        padding: 100px ;
        padding-top: 80px;
     }
}


/* contactUs */
.contact-us{
    padding: 50px ;
   /* padding-top: 80px; */
}
.details-wrapper{
    display: flex;
    flex-direction: column;
}
.contact-details-container div{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.contact-details-container .fa{
    color: var(--primary-color);
    font-size: 28px;
    margin: 10px;
    transform: scaleX(-1);
}
.contact-details-container h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight:400;
    color:#555555
}
.contact-details-container p{
    font-size: 14px;
    color:#777777;
    font-weight: 300;
}
.contact-form-container input,textarea{
    width:100%;
    padding: 15px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}
.contact-form-container input:focus, textarea:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

@media (min-width: 768px){
    .contact-us{
        /* padding: 100px ; */
        padding-top: 50px;
    }
    .details-wrapper{
        display: flex;
        flex-direction: row;
        gap: 50px;
        max-width: 80vw;
        margin: auto;
    }
    .contact-details-container{
        width:50%;
    }
    .contact-form-container{
        width:50%;
    }

}