:root{
    --primary-color:#24f8c7;
    --secondary-color:#fff;
    --text-color: #000000;
}
hr{
    border: 1px solid #e7e4e4;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
h4{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
}

/* .footer p{
    font-size: 14px;
    color:#777;
    font-weight: 300;
    line-height: 22px; */
    /* padding: 10px; */
/* } */
.fas{
    color: var(--primary-color);
}
.footer a{
    text-decoration: none;
    color: #949fdf;
    font-weight: 600;
}
.footer a:hover{
    color: var(--primary-color);
}
.social-icons{
    text-align: center;
}
.social-icons .fa-brands{
    cursor: pointer;
    color: #5236f4;
    padding: 15px ;
    margin-top: 13px;
}
.social-icons .fa-brands:hover{
    color: var(--primary-color)
}
