:root {
    --primary-color: #24f8c7;
    --secondary-color: #fff;
    --text-color: #000000;
}
.center-heading-wrapper {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-heading{
    font-size: 50px;
    color: #24f8c7;
    text-transform: uppercase;
}
.sub-heading{
    font-size: 23px;
    font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 3%;
        color: #c8fff2;
}
.small-heading{
    font-size: 20px;
    color: #ffff;
    margin-bottom: 3%;
}
.white-border-btn {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 12px 34px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.white-border-btn:hover {
    background-color: var(--primary-color);
    color: black;
    border-color: var(--primary-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

@media (min-width: 768px) {
    .main-heading {
        font-size: 90px;
        font-weight: 700;
        color: #24f8c7;
        /* margin-bottom: 5%; */
    }

    .sub-heading{
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #c8fff2;
        /* margin: 10px 0 40px; */
    }

    .small-heading {
        margin: 10px 0 40px;
        font-size: 18px;
        color: #ffff;
    }

    .center-heading-wrapper {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


span {
    display: block;
}

.vertical-line {
    width: 1px;
    height: 100px;
    background: var(--primary-color);
    margin: 0 auto 40px;
}
@media (min-width: 768px) {
    .vertical-line{
        width: 2px;
    }
}

/* p{
color: #777;
font-size: 14px;
font-weight: 300;
line-height: 22px;
} */

/* .courses-section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
} */

/* gallery */
.campus {
    width: 80%;
    margin: auto;
    /* text-align: center; */
    padding-top: 50px;
}

.campus-gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.campus-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* .campus-image img {
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    /* display: block; */
/* } */

@media (min-width: 768px) {
    .campus {
        margin: auto;
        /* padding-top: 100px; */
        text-align: center;
    }

    .campus-gallery {
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px; 
    }

    .campus-img {
        width: 100%; 
        max-width: none; 
        height: auto; 
    }
    
}

/* facility */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    /* .facility-section {
        margin: auto;
        width: 80%;
        padding-top: 100px;
        text-align: center;
    } */

    .facilities {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

    .facilities-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

/* testimonials */
.testimonials {
    margin: auto;
    width: 80%;
    /* padding-top: 100px; */
    /* text-align: center; */
}

.testimonial-wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-testimonial-container {
    display: flex;
    background: #fff3f3;
    flex-direction: row;
    text-align: left;
    padding: 25px;
    border-radius: 10px;
}

.user-testimonial-container {
    text-align: left;
}

.user-testimonial-container img {
    height: 60px;
    width: 60px;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 50%;
}
.user-testimonial-container .fa{
        color: var(--primary-color);
    }

@media (min-width: 768px) {
    .testimonial-wrapper {
        /* gap: 40px; */
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .user-testimonial-container {
        flex-basis: 44%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        background: #fff3f3;
        padding: 25px;
        cursor: pointer;
        display: flex;
    }

    .user-testimonial-container img {
        height: 60px;
        width: 60px;
        margin-left: 5px;
        margin-right: 25px;
        border-radius: 50%;
    }

    .user-testimonial-container p {
        text-align: left;
        margin-bottom: 5%;
    }
    .user-testimonial-container .fa{
        color: var(--primary-color);
    }
}

.contact-wrapper {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(/images/back1.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact-section-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
    line-height: unset;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
  }

  @media (min-width: 768px) {
    .contact-section-heading{
      line-height: 50px;
      font-size: 58px;
      line-height: 1.1;

    }
}